#stream-container
  #stream 
    %p{ :style => "font-size: 20px; font-weight: bold;" } 
      = image_tag "icons/Knob-Message.png", :style => "vertical-align: middle;" 
      Activity
    %ul
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
      %li Janet Brewer is now govenor of the world!
